html body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.headerLink {
    text-decoration: none;
    color: #000;
    padding: 6px 20px 8px 20px;
    border-radius: 12px;

    &:hover {
        background-color: #dddddd;
        transition: ease-in-out 0.2s;
    }
}

.active {
    color: blue !important;
    background-color: #f1f1f1 !important;
}

.header-container {
    padding: 0 40px;
    height: 100px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.logo {
    width: 100px;
    height: 100px;
}

.home-container {
    background-color: #F9F2ED;
    height: fit-content;
}

.section-container {
    background-color: #F9F2ED;
    padding: 50px 0;
    width: 100vw;
    text-align: center;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    position: relative;
    z-index: 1;
    &:first-child{
        padding-bottom: 0;
        border: none;
    }
}

.title-container {
    margin: 0 auto;
}

.main-pic{
    margin-top: var(--margin);
    width: 1200px;
    border-radius: 10px;
    position: relative;
    transform: translateY(40px);
    z-index: 0;
}

.section-title {
    font-size: 64px;
    font-weight: bold;
}

.section-subtitle {
    font-size: 20px;
    font-weight: bold;
}

.platforms {
    display: flex;
    margin: 0 auto;
}

.platform-img1 {
    height: 80px;
    background: url('./assets/platforms1.png') no-repeat 100% 0;
    background-size: 200px;
}

.platform-img2 {
    height: 80px;
    background: url('./assets/platforms2.png') no-repeat 0% 0;
    background-size: 200px;
}

.product-desc {
    text-align: start;
    margin: 300px auto;

    &:last-of-type {
        margin-bottom: 200px;
    }
}

.product-desc p {
    color: rgb(255, 115, 115);
    font-weight: bold;
    margin-bottom: 30px;
}

.product-desc h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.product-desc h3 {
    font-size: 20px;
    line-height: 30px;
}

.img-container {
    margin-top: 180px;
    height: 350px;
    background-color: #000;
    border-radius: 20px;
    position: sticky;
    top: 200px;
    z-index: 0;
}

.sub-section {
    margin: 0 auto 100px;
}

.sub-section h1 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 50px;
}

.sub-section h2 {
    font-weight: bold;
}

.img-container2 {
    margin-top: 180px;
    height: 300px;
    background-color: transparent;
    border-radius: 20px;
}

.function-detail {
    justify-content: center;
    align-items: center;
}

.function-detail ul {
    vertical-align: middle;
    padding: 0;
}

.function-detail li {
    text-align: start;
    margin-bottom: 10px;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.vr-line {
    top: 0;
    position: absolute;
    z-index: 0;
    left: 50%;
    width: 3px;
    background-color: #b8b8b8;
    height: 100%;
}

.progress-bar {
    position: relative;
    height: 400px;
    margin: 0 60px;
}

.red-line {
    top: 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 3px;
    background-color: red;
}

.second-line {
    height: 33%;
}

.third-line {
    height: 66%;
}

.fourth-line {
    height: 100%;
}

.first {
    top: 0;
}

.second {
    top: 33%;
}

.third {
    top: 66%;
}

.fourth {
    bottom: 0;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 3px solid #b8b8b8;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 6px);
    z-index: 2;
    cursor: grab;
}

@keyframes scaleInOut {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.25);
    }

    50% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}

.active-bullet {
    background: url("./assets/arrow-down-up.svg") no-repeat center;
    filter: invert(1);
    width: 40px;
    height: 40px;
    background-color: rgb(30, 255, 218);
    border: none;
    left: calc(50% - 18px);
    animation-name: scaleInOut;
    animation-duration: 0.2s;
    animation-direction: normal;
}

.bullet-tag {
    position: absolute;
    width: 70px;
    height: 64px;
    background: url("./assets/tag.png") no-repeat 0 -15px transparent;
    opacity: 0.6;
    color: #fff;
    padding-top: 7px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
}

.fourth.bullet-tag {
    background: url("./assets/tag.png") no-repeat 0 7px;
    bottom: 0;
    background-size: cover;
    padding-top: 32px;
}

.passed {
    border: 3px solid red;
}

.level {
    background-color: #e3e3e3;
    width: fit-content;
    margin: 30px auto;
    padding: 5px 10px;
    border-radius: 10px;
}

.footer-container {
    padding: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-container h2 {
    line-height: 90px;
    font-weight: bold;
}

.logo-name {
    display: flex;
}

.footer-container p {
    padding-left: 20px;
    font-size: 20px;
}

.footer-subcontainer {
    display: flex;
    margin-top: 50px;
    padding: 20px;
}

.footer-subcontainer p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #676767;

    &:last-of-type {
        margin-left: 50px;
    }
}

.privacy {
    &::before {
        content: "|";
        margin: 0 10px;
    }

    &::after {
        content: "|";
        margin: 0 10px;
    }
}

.contact-container {
    float: right;
    display: flex;
    flex-direction: column;
}

.contact-container a {
    &:hover {
        filter: invert(1);
        transition: ease-in-out 0.2s;
    }
}

.yt {
    content: url("./assets/yt.png");
    width: 50px;
}

.ig {
    content: url("./assets/ig.png");
    width: 50px;
}

.fb {
    content: url("./assets/fb.png");
    width: 50px;
}

.twit {
    content: url("./assets/twit.png");
    width: 50px;
}

.login-container {
    background-color: #F9F2ED;
    height: fit-content;
    padding: 100px 0;
}

.login-form-container {
    margin: 0 auto;
    text-align: center;
    padding: 10px 40px;
}

.login-form-container h2 {
    padding: 10px 0;
    font-size: 36px;
    font-weight: bold;
}

.login-form {
    text-align: start;
}

.login-form button {
    width: 100%;
    background-color: #6499E9;
    border: none;
    padding: 8px 0;

    &:hover {
        background-color: #3085C3;
        transition: ease-in-out 0.2s;
    }
}

.other-link {
    font-size: 12px;
    text-align: center;
}

input,
textarea {
    &:focus {
        border: 1px solid #3085C3 !important;
        box-shadow: none !important;
    }
}

.password-container {
    position: relative;
}

.login-form label {
    color: #4e4e4e;
}

.easy-login-btn-group a {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: 1px solid #b8b8b8;
    padding: 5px 0;
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 35px;
    border-radius: 10px;

    &:hover {
        background-color: #b8b8b8;
        border: 1px solid #b8b8b8;
        color: #000;
    }
}

.easy-login-btn-group a img {
    width: 40px;
    padding-right: 10px;
    margin-bottom: 3px;
}

.passwordShown {
    background: url("./assets/hide.png") no-repeat center;
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    top: calc(50% - 15px);
    right: 5px;
    background-color: transparent !important;

    &:hover {
        background-color: #b8b8b8 !important;
    }
}

.passwordHidden {
    position: absolute;
    background: url("./assets/view.png") no-repeat center;
    width: 30px !important;
    height: 30px !important;
    top: calc(50% - 15px);
    right: 5px;
    background-color: transparent !important;

    &:hover {
        background-color: #b8b8b8 !important;
    }
}

.disabled-btn {
    background-color: #3085C3 !important;

    &:hover {
        cursor: not-allowed !important;
    }
}

.error-msg,
small {
    font-size: 12px !important;
}

.user-header-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    padding: 20px;
    height: 100vh;
    width: 300px;
    background-color: #f9f9f9;
    justify-content: space-between;
}

.profile-container {
    display: flex;
    margin-bottom: 50px;
}

.profile-container p {
    margin-left: 15px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}

.inbox-link {
    background: url('./assets/inbox.png') no-repeat 10px 10px transparent;
}

.today-link {
    background: url('./assets/calendar.png') no-repeat 10px transparent;
}

.upcoming-link {
    background: url('./assets/upcoming.png') no-repeat 10px transparent;
}

.header-link {
    display: block;
    padding: 10px 50px;
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    margin-bottom: 5px;

    &:hover {
        background-color: #e9e9e9;
        transition: ease-in-out 0.2s;
    }
}

.sub-list-link {
    display: block;
    margin-left: 10px;
    padding: 10px 40px;
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    margin-bottom: 5px;

    &:hover {
        background-color: #e9e9e9;
        transition: ease-in-out 0.2s;
    }
}

.signout-btn {
    width: fit-content;
    padding: 8px 20px 8px 40px;
    border-radius: 10px;
    border: none;
    background: url('./assets/logout.png') no-repeat 15px 16px transparent;
    line-height: 30px;

    &:hover {
        background-color: #e9e9e9;
        transition: ease-in-out 0.2s;
    }
}

.page-container {
    display: flex;
    font-family: 'Nunito';
}

.main-container {
    width: 100%;
    padding: 15px 60px;
}

.tasks-container {
    height: 550px;
    padding: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.task-container {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #c6c6c6;
    display: flex;
    position: relative;
    align-items: center;
    &:hover {
        transform: translate(5px, -5px);
        transition: ease-in-out 0.2s;
    }
}

.task-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 40px;
    color: #484848;
}

.delete-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    width: 20px;
    height: 20px;
    background: url('./assets/close.png') no-repeat center;

    &:hover {
        transform: scale(1.2);
        transition: ease-in-out 0.06s;
    }
}

.checkbox {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #b8b8b8;
    margin-right: 20px;
}

.checked {
    background: url("./assets/check-mark.png") no-repeat center rgb(187, 58, 189);
    filter: invert(1);
    border: none;
}

.page-title {
    font-weight: 900;
    margin-bottom: 40px;
    margin-left: 8px;
}

.list-title {
    font-weight: bold;
    padding: 15px 10px 0 10px;
    margin-bottom: 10px;
}

.list-item {
    padding: 5px 10px;
}

.task-sub-container {
    width: 100%;
    display: flex;
}

.project-name {
    &::after {
        margin: 0 5px;
        content: "";
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url('./assets/full-stop.png') no-repeat center 6px transparent;
    }
}

.done {
    text-decoration: line-through;
}

.add-task-btn {
    background-color: #e5e5e58e;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 8px;
    border-radius: 10px;
    color: #4d4d4dd1;
    line-height: 30px;
    border: 2px solid transparent;

    &:hover {
        cursor: text;
        border: 2px solid #bbbbbb;
    }
}

.background {
    width: 100%;
    height: 100%;
    background-color: #b8b8b86a;
    position: absolute;
    z-index: 1;
}

.modal-container {
    width: 600px;
    height: fit-content;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 300px);
    border-radius: 10px;
}

.add-btn {
    background-color: #3882f0;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;

    &:hover {
        background-color: #3085C3;
        transition: ease-in-out 0.2s;
    }
}

.cancel-btn {
    background-color: #fff;
    border: 1px solid #bbbbbb;
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
        border: 1px solid black;
        transition: ease-in-out 0.2s;
    }
}

.schedule-btn {
    background: url("./assets/schedule.png") no-repeat 10px #fff;
    border: 1px solid #bbbbbb;
    color: #535353;
    border-radius: 5px;
    padding: 5px 10px 5px 30px;
    margin-right: 2px;

    &:hover {
        border: 1px solid black;
        transition: ease-in-out 0.2s;
    }
}

.project-btn {
    width: 35px;
    height: 35px;
    background: url("./assets/red-flag.png") no-repeat center #fff;
    border: 1px solid transparent;
    color: #535353;
    border-radius: 5px;
    margin-top: 5px;

    &:hover {
        background-color: #d6d6d6;
        transition: ease-in-out 0.2s;
    }
}

.tag-btn {
    width: 35px;
    height: 35px;
    background: url("./assets/price-tag.png") no-repeat center #fff;
    border: 1px solid transparent;
    color: #535353;
    border-radius: 5px;
    margin-right: 2px;

    &:hover {
        background-color: #d6d6d6;
        transition: ease-in-out 0.2s;
    }
}

.modal-container h2 {
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 20px;
}

textarea {
    height: 60px !important;
    resize: none !important;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-container {
    position: relative;
}

.options {
    position: absolute;
    width: fit-content;
    border: 1px solid #b8b8b8;
    background-color: #fff;
    border-radius: 10px;
}

.datetime-container {
    left: 0;
}

.datetime-container div {
    padding: 5px 7px;
}

.tags-container,
.projects-container {
    right: 0;
}

.ok-btn-container {
    margin-top: 10px;
    text-align: end;
}

.ok-btn {
    background-color: #fff;
    border: 1px solid #bbbbbb;
    padding: 2px 10px;
    border-radius: 5px;

    &:hover {
        border: 1px solid black;
        transition: ease-in-out 0.2s;
    }
}

.options p:first-child {
    padding: 5px 7px;
    border-bottom: 0.1px solid #494949;
    margin-bottom: 0 !important;
    font-weight: bold;
    color: #494949;
}

.option-item {
    margin-bottom: 0;
    padding: 5px 7px;
    border-bottom: 0.1px solid #d1d1d1;
    color: #727272;
    &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
}

.option-item:last-child {
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.background.upper-layer {
    z-index: 3;
}

.modal-container.upper-layer {
    z-index: 4;
}

.tag-project-container {
    display: flex;
}

.tag-project-container p {
    margin-bottom: 0;
}

.tag-project-container div {
    padding: 5px 5px 5px 12px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #454545;
}

.task-project-container {
    background-color: #aaffa6;
    display: flex;
}

.task-tags-container {
    background-color: #ffbebe;
    display: flex;
}

.delete-btn2 {
    border: none;
    margin-left: 5px;
    margin-top: 4px;
    width: 16px;
    height: 16px;
    background: url('./assets/close.png') no-repeat center;
    border-radius: 50%;

    &:hover {
        background-color: #d1d1d1;
        transform: scale(1.1);
        transition: ease-in-out 0.06s;
    }
}

.menu-container {
    width: 150px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    position: absolute;
    top: var(--pointY);
    left: var(--pointX);
    box-sizing: border-box;
}

.remove-btn {
    background: url("./assets/delete.png") no-repeat 10px 13px transparent;
    padding: 10px 10px 10px 40px;
    line-height: 25px;
    border-radius: 10px;
    margin-bottom: 0;
    &:hover{
        background-color: #e3e3e3;
        transition: ease-in-out 0.1s;
    }
}

.invalid-input{
    border-color: red !important;
}

.loading{
    position: absolute;
    z-index: 10;
}

@keyframes spin {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: 8px solid #b8b8b8;
    border-top-color: #3882f0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes rotation {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0);
    }
}

.list-container{
    position: relative;
}

.list-shown{
    position: absolute;
    right: 0;
    top: 20px;
    width: 16px;
    height: 16px;
    background: url("./assets/down-arrow.png") no-repeat center;
    transform: rotate(180deg);
    animation: rotation 0.2s linear alternate-reverse;
}   

.list-hidden{
    position: absolute;
    right: 0;
    top: 20px;
    width: 16px;
    height: 16px;
    background: url("./assets/down-arrow.png") no-repeat center;
}

.add-text{
    color: red !important;
}

.empty-list{
    background: url("./assets/freedom-1238930.jpg") no-repeat center transparent;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 50px auto 10px;
    opacity: 0.5;
    border-radius: 50%;
}

.empty-text{
    text-align: center;
    color: #555555;
}

.empty-text p{
    font-weight: 900;
    font-size: 30px;
}

.datetime-input-container{
    margin-top: 20px;
}

.error-page{
    width: 700px;
    height: 700px;
    background: url("./assets/404.png") no-repeat transparent center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

.error-page h2{
    font-weight: 900;
    font-family: "Nunito";
    text-align: center;
    opacity: 0.7;
    position: relative;
    transform: translateY(50%);
}

.repeat{
    background: url("./assets/refresh.png") no-repeat 0 3px transparent;
    padding-left: 20px;
}

.task-left{
    font-weight: 900;
    font-size: 20px;
    color: #726d6d;
    margin-bottom: 30px;
}

.today{
    width: 50%;
    padding: 15px 30px 15px 20px;
}

.calendar-container{
    width: 50%;
    padding: 15px 30px 15px 0;
}

.calendar{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #b0b0b0;
    padding: 20px;
    height: 610px;
    overflow-y: scroll;
}

.time-container{
    display: flex;
    align-items: start;
}

.time-text{
    color: #929292;
    margin-bottom: 0;
    margin-right: 10px;
}

.timeline{
    width: 100%;
    height: 60px;
    border-top: 0.5px solid #f1f1f1;
    margin-top: 10px;
    display: flex;
}

.task-card{
    position: relative;
    /* top: var(--space); */
    background-color: #3882f069;
    padding: 7px 20px;
    width: 100%;
    height: fit-content;
    border-left: 5px solid #3085C3;
}

.task-time{
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #363636;
}

.task-title-text{
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
    color: #363636;
}

.search-bar-container{
    display: flex;
    align-items: start;
}

.search-bar{
    width: 300px;
    height: 40px;
    border: 0.5px solid #b1b1b1;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 8px 15px;
    &:focus{
        border: 0.5px solid #4a8fc1;
        outline: none;
    }
}

.search-btn{
    width: 60px;
    height: 40px;
    background: url("./assets/search-interface-symbol.png") no-repeat 20px center #f1f1f1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0.5px solid #b1b1b1;
    border-left: none;
    &:hover{
        background-color: #e9e9e9;
        box-shadow: 1px 1px 5px 1px #f1f1f1;
        border-left: 0.5px solid #b1b1b1;
    }
}